<!-- views/partials/message.ejs -->

<div class="modal fade" id="message" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Message</h4>
      </div>
      <form id="message_form" role="form" action="/message">
          <div class="modal-body">
              <div class="form-group">
                <textarea placeholder="Yo..." class="form-control" rows="5" id="poke_message" style="width: 100%; height: 100%; border-color: Transparent; resize:none; outline: none; -webkit-box-shadow: none; -moz-box-shadow: none; box-shadow: none;" name="poke_message"></textarea>
              </div>
              <div class="form-group">
                <label for="author_itsc">ITSC</label>
                <input id="author_itsc" type="text" class="form-control" name="author_itsc">
              </div>
          </div>
          <div class="modal-footer">
            <button type="submit" class="btn btn-primary">Send</button>
          </div>
      </form>
    </div>
  </div>
</div>

<script type='text/javascript'>
  $('#message').on('show.bs.modal', function(e) {
      //get data-id attribute of the clicked element

      var item_id = document.createElement('input');
      item_id.setAttribute('id', 'item_id');
      item_id.setAttribute('type', 'hidden');
      item_id.setAttribute('name', 'item_id');
      item_id.setAttribute('value', $(e.relatedTarget).data('id'));

      document.getElementById('message_form').appendChild(item_id);
  });

  $("#message_form").submit(function(event) {
    event.preventDefault();

    var $form = $(this),
        url = $form.attr('action');

    var posting = $.post(url, { message: $('#poke_message').val(), author_itsc: $('#author_itsc').val(), item_id :  $('#item_id').val()} );

    /* Alerts the results */
    posting.done(function(data) {
      console.log('Post working');
    });
  });
</script>