<!-- views/partials/upload.ejs -->

<div class="modal fade" id="upload" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Upload</h4>
      </div>
      <form id="upload_form" role="form" method="post" action="/upload" enctype="multipart/form-data" onsubmit="return ">
          <div class="modal-body">
            <div class="form-group">
              <input placeholder="Item name..." id="item_name" type="text" class="form-control" name="item_name" style="width: 100%; height: 100%; border-color: Transparent; resize:none; outline: none; -webkit-box-shadow: none; -moz-box-shadow: none; box-shadow: none;">
            </div>
            <div class="form-group">
              <input placeholder="Item description..." id="item_description" type="text" class="form-control" name="item_description" style="width: 100%; height: 100%; border-color: Transparent; resize:none; outline: none; -webkit-box-shadow: none; -moz-box-shadow: none; box-shadow: none;">
            </div>
            <div class="form-group">
              <input placeholder="Item price (in $HK)..." id="item_price" type="text" class="form-control" name="item_price" style="width: 100%; height: 100%; border-color: Transparent; resize:none; outline: none; -webkit-box-shadow: none; -moz-box-shadow: none; box-shadow: none;">
            </div>
            <div class="form-group">
              <input placeholder="UST email (e.g. 'abc123@ust.hk')" id="item_owner" type="text" class="form-control" name="item_owner" style="width: 100%; height: 100%; border-color: Transparent; resize:none; outline: none; -webkit-box-shadow: none; -moz-box-shadow: none; box-shadow: none;">
            </div>
            <div class="form-group">
              <input id="item_image" type="file" name="item_image" style="width: 100%; height: 100%; border-color: Transparent; resize:none; outline: none; -webkit-box-shadow: none; -moz-box-shadow: none; box-shadow: none;">
            </div>
          </div>
          <div id="modal_footer" class="modal-footer">
            <button id="upload_button" type="submit" class="btn btn-primary">Upload</button>
          </div>
      </form>
    </div>
  </div>
</div>

<script type="text/javascript">
  $("#upload_form").submit(function(event) {
    event.preventDefault();

    if(uploadValidation()) {
      var formData = new FormData($(this)[0]);

      $.ajax({
        url: '/upload',
        type: 'POST',
        data: formData,
        async: false,
        beforeSend: function() {
          console.log('before sending');
          document.getElementById('upload_button').disabled = true;
          var span = document.createElement('span');
          var i = document.createElement('i');

          i.id = 'upload_spinner';
          i.className = 'fa fa-cog fa-spin';
          span.style.textAlign = 'center';
          span.style.margin = 0;
          
          span.appendChild(i);
          document.getElementById('modal_footer').appendChild(i);
        },
        complete: function() {
            console.log('completed function');
        },
        success: function(data) {
            console.log('success');
            document.getElementById('upload_button').disabled = false;
            var spinner = document.getElementById('upload_spinner');
            spinner.parentNode.removeChild(spinner);

            $('#upload').modal('hide'); 
        },
        cache: false,
        contentType: false,
        processData: false
      });

      return false;
    }
  });
</script>