<!-- views/partials/upload.ejs -->

<div class="modal fade" id="upload" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Upload</h4>
      </div>
      <form id="upload_form" role="form" method="post" action="/upload" enctype="multipart/form-data" onsubmit="return uploadValidation()">
          <div class="modal-body">
            <div class="form-group">
              <input placeholder="Item name..." id="item_name" type="text" class="form-control" name="item_name" style="width: 100%; height: 100%; border-color: Transparent; resize:none; outline: none; -webkit-box-shadow: none; -moz-box-shadow: none; box-shadow: none;">
            </div>
            <div class="form-group">
              <input placeholder="Item description..." id="item_description" type="text" class="form-control" name="item_description" style="width: 100%; height: 100%; border-color: Transparent; resize:none; outline: none; -webkit-box-shadow: none; -moz-box-shadow: none; box-shadow: none;">
            </div>
            <div class="form-group">
              <input placeholder="Item price..." id="item_price" type="text" class="form-control" name="item_price" style="width: 100%; height: 100%; border-color: Transparent; resize:none; outline: none; -webkit-box-shadow: none; -moz-box-shadow: none; box-shadow: none;">
            </div>
            <div class="form-group">
              <input placeholder="UST email" id="item_owner" type="text" class="form-control" name="item_owner" style="width: 100%; height: 100%; border-color: Transparent; resize:none; outline: none; -webkit-box-shadow: none; -moz-box-shadow: none; box-shadow: none;">
            </div>
            <div class="form-group">
              <input id="item_image" type="file" name="item_image" style="width: 100%; height: 100%; border-color: Transparent; resize:none; outline: none; -webkit-box-shadow: none; -moz-box-shadow: none; box-shadow: none;">
            </div>
          </div>
          <div class="modal-footer">
            <input type="submit" class="btn btn-primary">
          </div>
      </form>
    </div>
  </div>
</div>