<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
    <head>
        <% include ../partials/head %>
    </head>
    <body class="container">

        <header>
            <% include ../partials/header %>
        </header>
        <br>
        <br>
            <% include ../partials/upload %>
            <% include ../partials/message %>
        <main>
            <div style="text-align:center;">
              <h1>UST marketplace
              <br>
              <small>(beta, please don't f***k with it)</small>
              <br>
              <br>
              <small>the number 1 (out of 1) online market platform for you to sell your beloved HUMA 1000 notes, buy those nice speakers you saw in your friend’s room and re-sell them to the incoming freshmen next semester…</small>
              </h1>
              <br>
              <br>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="alert alert-info" role="alert" style="text-align:center;">
                        In order for everything to work just fine, you need to use your UST email account.
                    </div>
                </div>
            </div>
            <div class="row">  
                <div class="col-lg-6">
                    <div class="jumbotron">
                        <h3>to SELL stuff:</h3>
                        <br>
                        <p>click ‘Upload’ on the top right side of your screen</p>
                        <p>fill in the information and attach a nice picture of the item you would like to sell</p>
                        <p>wait until someone sends you a message (just chill bro, someone will… eventually)</p>
                        <p>arrange the exchange details with the buyer</p>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="jumbotron">
                    <h3>to BUY stuff:</h3>
                    <br>
                    <p>browse through the items in the ‘Home’ section on the top-left corner</p>
                    <p>select the one you like by pressing the ‘Poke’ button</p>
                    <p>fill in the message form and submit it to send it to the seller</p>
                    <p>arrange the exchange details with the seller</p>
                    </div>
                </div>
            </div>
        </main>

        <footer>
            <% include ../partials/footer %>
        </footer>
    </body>
</html>