<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
    <head>
        <% include ../partials/head %>
    </head>
    <body class="container">

        <header>
            <% include ../partials/header %>
        </header>
        <br>
        <br>
            <% include ../partials/upload %>
            <% include ../partials/message %>
        <main>
          
            <div class="page-header" style="text-align:center;">
              <h1>UST marketplace 
              <br>
              <br>
              <small>The number 1 (out of 1) online market platform for you to sell your beloved HUMA 1000 notes, buy those nice speakers you saw in your friend’s room and re-sell them to the coming freshmen next semester…</small>
              </h1>
            </div>
            <div class="row">  
                <div class="col-sm-6 col-md-6">
                    <div class="jumbotron">
                        <h3>This is how you SELL stuff:</h3>
                        <ul>
                            <li>You click ‘upload’ on the top right side of your screen</li>
                            <li>You fill in the information and attach a nice picture of the item you would like to sell</li>
                            <li>You wait until someone sends you a message (just chill bro, someone will… eventually)</li>
                            <li>Finally you arrange the exchange details with the buyer</li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-6 col-md-6">
                    <div class="jumbotron">
                    <h3>This is how you BUY stuff:</h3>
                        <ul>
                            <li>You browse the items on the eMarket (US: “don’t forget to use the search function!” YOU: “duh…”)</li>
                            <li>Select the one you like and then you will be able to directly message the seller</li>
                            <li>Finally you arrange the exchange details with the buyer</li>
                        </ul>
                    </div>
                </div>
            </div>
        </main>

        <footer>
            <% include ../partials/footer %>
        </footer>
    </body>
</html>