<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
    <head>
        <% include ../partials/head %>
    </head>
    <body class="container">

        <header>
            <% include ../partials/header %>
        </header>
        <br>
        <br>
            <% include ../partials/upload %>
            <% include ../partials/message %>
        <main>
            <div style="text-align:center;">
              <h1>We'd love to know what you think.</h1>
            </div>
            <div class="row text-center" style="padding-top:120px; padding-bottom:120px;">
                <div class="jumbotron" style="background:white;">
                    <p>
                        <a href="mailto:ustmarketplace@gmail.com">ustmarketplace@gmail.com</a>
                    </p>
                </div>
            </div>
        </main>

        <footer>
            <% include ../partials/footer %>
        </footer>
    </body>
</html>