<!-- views/pages/error.ejs -->

<!DOCTYPE html>
<html lang="en">
    <head>
        <% include ../partials/head %>
    </head>
    <body class="container">

        <header>
            <% include ../partials/header %>
        </header>

        <main>
            An error occurred.
        </main>

        <footer>
            <% include ../partials/footer %>
            <% include ../partials/google %>
        </footer>
        
    </body>
</html>