<!-- views/pages/error.ejs -->

<!DOCTYPE html>
<html lang="en">
    <head>
        <% include ../partials/head %>
    </head>
    <body class="container">

        <header>
            <% include ../partials/header %>
        </header>

        <main>
            <div class="row text-center" style="padding-top:120px; padding-bottom:120px;">
                <div class="jumbotron" style="background:white;">
                    <p>
                        Are you sure you are using your UST email address?
                    </p>
                </div>
            </div>
        </main>

        <footer>
            <% include ../partials/footer %>
            <% include ../partials/google %>
        </footer>
        
    </body>
</html>