<!-- views/pages/sold.ejs -->

<!DOCTYPE html>
<html lang="en">
    <head>
        <% include ../partials/head %>
    </head>
    <body class="container">

        <header>
            <% include ../partials/header %>
        </header>

        <main>
            The item has been successfully withdrawn from the market.
        </main>

        <footer>
            <% include ../partials/footer %>
        </footer>
        
    </body>
</html>